*,
*::before,
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
}

html, body, #root{
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

body{
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    background: rgb(17,17,23);
    background: rgb(40,25,14);
    background: linear-gradient(0deg, #1c1717 58%, #020202 100%);
    #header {
        width: 100%;
    }
    h2{
        font-size: 4rem;
        color: rgb(189,155,29);
        margin: .5em;
        width: 90%;
        letter-spacing: 2.5px;
        text-shadow: 0 .4rem .5rem #000000;
        text-align: center;
        border-radius: 1rem;
        background: center/110% url(../../public/imagenes/Banner1.jpg) fixed no-repeat;
    }
    h3{
        color: orange;
        font-family: 'League Gothic', sans-serif;
        font-size: 2.5rem;
    }
    p {
        color: white;
        font-family: 'League Gothic', sans-serif;
        font-size: 2rem;
    }
    li {
        list-style: none;
    }
    #NavBar {
        height: 5rem;
        background: rgb(48,41,7);
        background: linear-gradient(90deg, rgba(48,41,7,1) 17%, rgba(254,222,6,1) 100%);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        box-shadow: 0 .4rem .5rem #000000;
        #NavBar__brand {
            #brand {
                font-size: 4rem;
                color: #fff700;
                margin: .5em;
                letter-spacing: 2.5px;
                text-decoration: none;
            }
        }
        #NavBar__links {
            a {
                text-decoration: none;
                color: black;
                font-size: 2em;
                margin: 1rem;
            }
        }
    }

    #banner1{
        width: 100%;
        height: 30rem;
        margin: 5rem 0 5rem 0;
        background: center/110% url(../../public/imagenes/Banner1.jpg) fixed no-repeat;
        box-shadow: 0 .4rem .5rem #000000;
    }
    #banner2{
        width: 100%;
        height: 30rem;
        margin: 5rem 0 5rem 0;
        background: center/110% url(../../public/imagenes/Banner2.jpg) fixed no-repeat;
        box-shadow: 0 0 .7rem #000000;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .itemCantContainer {
            button {
                margin: 1rem;
            }
        }
        .itemList{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            flex-wrap: wrap;
            .item{
                margin: 2rem;
            }
            .itemI {
            border-radius: 1rem;
            height: 17rem;
            box-shadow: -1.9rem 1.1rem 1.9rem black;
            }
            .itemZ {
                text-align: center;
            }
        }
    }
    .itemDetailContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        .itemDetail{
            width: 60%;
            text-align: center;
        }
    }
}

